<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805543879819-kvk0oao0l6ca61bh5944iur8r74d3e9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805543879819-kvk0oao0l6ca61bh5944iur8r74d3e9m</string>
	<key>API_KEY</key>
	<string>AIzaSyBfq-LuZoZt2dPHPgf0dM3o3skLlSnE_LU</string>
	<key>GCM_SENDER_ID</key>
	<string>805543879819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sbas</string>
	<key>PROJECT_ID</key>
	<string>bitflow-sbas</string>
	<key>STORAGE_BUCKET</key>
	<string>bitflow-sbas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805543879819:ios:b6fe0ed21fed2990a9e08e</string>
</dict>
</plist>